<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
  <targets async="true">

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=shortType,message,stacktrace:separator=*:innerExceptionSeparator=&amp;#xD;&amp;#xA;&amp;#x9;}}"
            encoding="utf-8">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.log"
            keepFileOpen="true"
            encoding="utf-8" />

    <!--<target name="database" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql" connectionString="${gdc:item=ppd}">
      <commandText>
        select ppd.web_logging (@Application, @Username, @Logged, @Level, @Message, @Logger, @Callsite, @Exception);
      </commandText>

      <parameter name="@application" layout="${gdc:item=app}" />
      <parameter name="@username" layout="${aspnet-user-identity}" />
      <parameter name="@logged" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>-->

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
  </rules>
</nlog>